:root {
   --background-section-color: #F5F4FA;
   --brand-color: #2196F3;
   --active-button: #188CE8;
   --text-color-white:#FFFFFF;
   --desc-color: #757575;
   --link-head-color: #757575;
   --main-text-color: #212121;
   --white-fon-color: #ffffff;
   }
   
   body {
      font-family: 'Roboto','Raleway', sans-serif;
      color: var(--main-text-color);
      background-color: var(--white-fon-color);
   } 
   .link{
      text-decoration: none;
   }
   
   .list {
      list-style: none;
   }
   
   .visually-hidden {
      position: absolute;
       white-space: nowrap;
       width: 1px;
       height: 1px;
       overflow: hidden;
       border: 0;
       padding: 0;
       clip: rect(0 0 0 0);
       clip-path: inset(50%);
       margin: -1px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin:0;
    }
    ul {
      margin:0;
      padding:0;
    }
    button {
      cursor: pointer;
    }
    img {
      display: block;
    }
    address {
      font-size: normal;
    }
    .container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      
    }
   /* ------- HEADER--------------------шапка*/
   .header  {
     display: flex;
     border-bottom: 1px solid #ECECEC;
      
   }
   
   .logo {
    padding-top: 24px ;
    padding-bottom: 25px;
    margin-right: 93px;
   }
   .logo-style {
      color: #000000;
      font-family: 'Raleway';
      font-size: 26px;
      font-weight: 700;
      line-height: 1.19;
      letter-spacing: 0.03em;
   
   /* identical to box height */
   
   width: 145px;
   height: 31px;
   
   }
   .logo-color {
      color: var(--brand-color);
   }
   /* header nav*/
   .nav {
     
   }
   .nav-list{
      position: absolute;
      width: 281px;
      height: 16px;
      padding-top: 32px;
      
      display: flex;
      gap: 50px;
   }
   .nav-link{
      color: var(--main-text-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;

   }
   .nav-link:hover,
   .nav-link:focus,
   .contact-link:hover , 
   .contact-link:focus ,
   .adress-link:hover ,
   .adress-link:focus , .activ {
      color: var(--brand-color);
   }
      
   /* header contact*/
   .contact-list {
      margin-left: 344px;
      padding-top: 32px;
      padding-bottom: 32px;
   }
   .contact-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
   
      color: var(--link-head-color);
   }
   
   /* ---main section HERO----------------*/
   .hero {
      background-color: rgba(0, 0, 0, 0.25);
      color: var(--text-color-white);
      padding-top: 200px;
      padding-bottom: 200px;
      display:flex;
      flex-direction: column;
      justify-content: center;
   }
   
   .hero-title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.5;
   /* or 136% */
   
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      width: 696px;
      height: 120px;
      margin-bottom: 30px;
      
   
   }
   .hero-btn {
      background-color: var(--brand-color);
      color: var(--text-color-white);
      cursor: pointer;
      border: none;
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.9;
      /* identical to box height, or 188% */
   
   
      
      text-align: center;
      letter-spacing: 0.06em;
      width:216px;
      border-radius: 4px;
      height: 50px;
   }
   .hero-btn:focus,
   .hero-btn:hover {
      background-color:var(--active-button);
   
   }
   
   /* main section --SPECIAL-- особенности*/
   
   .special {
     padding-top: 94px;
     padding-bottom: 94px;
      display: flex;
      gap: 30px;
     
   }
   
   .special-list {
      width: 270px;
   }
   .special-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
   }
   .special-desc {
      color:var(--desc-color);
      font-size: 14px;
      line-height: 1.71;
      /* or 171% */
      letter-spacing: 0.03em;
      margin-top: 0;
      margin-bottom: 0;
   }
   
   /* main section we are DOING Чим ми займаємося */
   .doing {
      padding-bottom: 94px;
   }
   .doing-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--main-text-color);
      margin-bottom: 50px;
   }
   .doing-list {
      display: flex;
      justify-content: space-between;
   }
   /* main section our team Наша команда */
   
   .team {
      background-color: #F5F4FA;
      padding-top: 94px;
      padding-bottom: 94px;
   }
   .team-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
   }
   .teamList {
      display: flex;
      justify-content: space-between;
   }
   .team-item {
      background-color:var(--white-fon-color);
      width: 270px;
      height: 368px;
   }
   
   .teamList-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      /* identical to box height */
   
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--main-text-color);
      margin-top: 30px;
      margin-bottom: 10px;
   }
   .teamList-desc {
      font-size: 16px;
      line-height: 1.19;
      /* identical to box height */
   
      text-align: center;
      letter-spacing: 0.03em;
   
      color: var(--desc-color);
      margin: 0;
   }
   /* footer */
   .footer {
      background-color: #2F303A;
      color: var(--text-color-white);
   } 
   .footer-style{
      padding-top: 60px;
      padding-bottom: 60px;
   }
   .adress {
      font-size: 14px;
      line-height: 1.71;
      /* or 171% */
   
      letter-spacing: 0.03em;
   }
   .adress-link {
      font-size: 14px;
      line-height: 1.71;
      /* or 171% */
   
      letter-spacing: 0.03em;
   
      color: rgba(255, 255, 255, 0.6);
      
   }
   .logo-footer {
      margin-bottom: 20px;
   }
   .logo-footer-style {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      /* identical to box height */
   
      letter-spacing: 0.03em;
      color: var(--text-color-white);
      
   }
   /*---------------------portfolio-----page 2-------------*/
   
   /* portfolio main section */
   .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
   }
   .filter-btn {
      background-color: #F5F4FA;
      cursor: pointer;
      border: none;
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      /* identical to box height, or 162% */
   
      text-align: center;
      letter-spacing: 0.03em;
      border-radius: 4px;
      height: 38px;
   }
   
   .filter-btn:hover ,
   .filter-btn:focus {
    background-color: var(--brand-color);
    color: var(--text-color-white);
   }
   
   .filter-list {
     width: 575px;
     height: 54px;
     display:flex;
     margin-bottom: 34px;
     display:flex;
     align-items: flex-start;
     gap: 8px;
     justify-content: center;
   }
   
  
   .portfolio-list {
      display:flex;
      flex-wrap:wrap ;
      gap: 30px;
   }
   .portfolio-item {
      width:370px;  
      height: 404px;
      box-sizing: border-box; 
      border: 1px solid #EEEEEE;
      
   }
   
   
   .portfolio-item p {
      color: var(--desc-color);
      margin-top: 0;
   }
   .portfolio-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      /* identical to box height, or 200% */
   
      letter-spacing: 0.06em;
      margin: 20px 24px 4px;
   }
   
   .portfolio-desc {
      font-size: 16px;
      line-height: 1.87;
      /* identical to box height, or 188% */
      letter-spacing: 0.03em;
      margin: 0 24px;
   }
   